/*  your css code here. If applicable */
#table-1{
	width:100%;
	border:1px solid black;
	border-collapse: collapse;
}
#t21{
	column-span: 6;
}
#table-2{
	width:100%;
	height:120px;
}
#table-3{
	width:100%;
	height:100px;
}
#t12{
	text-align:center;
}
tr>td:nth-child(3){
	text-align:right;
	border:1px solid black;
	
}
tr>td:first-child{
	border:1px solid black;
	
}
tr>td:nth-child(2){
	text-align:center;
	border:1px solid black;
}